{% extends "users/base.html" %}
{%load static%}
{% block content %}

  
        
       <div class="col">   
          <!--formulario-->
          <form method="POST">
          <h2>Registro</h2>
            {% csrf_token %}
            <div class="form_group">
              {%for field in form%} {{field.label_tag}} {{field}} 
              {%if field.errors%} {{field.errors}} {%endif%}
            </div>
            {%endfor%}

            <button type="submit" class="btn btn-primary">Registro</button>
      </div>     
 
{%endblock content%}
